app:
  web-redirect-uri: https://yegam.today

server:
  port: ${PORT:8080}

spring:
  datasource:
    url: jdbc:h2:mem:oye
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false