app:
  web-redirect-uri: https://yegam.today

server:
  port: ${PORT:8080}

sentry:
  environment: production
  traces-sample-rate: 0.1
  enable-tracing: true

management:
  endpoint:
    health:
      show-details: never

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
    locations: classpath:db/migration

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false